<section class = "wrapper">
  <%= render partial: 'form', locals: { path: "/shelters",
                                        method: :post,
                                        button_text: "Submit"} %>
</section>
