<h1>Update Review</h1>
<section class = "wrapper">
  <%= render partial: 'form', locals: {
    path: "/shelters/#{@shelter_review.shelter_id}/shelter_reviews/#{@shelter_review.id}",
    method: :patch,
    button_text: 'Update'} %>
</section>
