<h1>Add a Review</h1>
<section class = "wrapper">
  <%= render partial: 'form', locals: {
    path: "/shelters/#{@shelter_id}/shelter_reviews",
    method: :post,
    button_text: 'Submit Review'} %>
</section>
