<h3>Add a Review</h3>

<section class = "wrapper">

  <%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}/shelter_reviews",
                                        method: :post,
                                        button_text: 'Submit Review'} %>

</section>
