<section class = "wrapper">
  <% @pets.each do |pet| %>
    <section id = "favorite-<%= pet.id %>">
      <%= image_tag pet.image %>
      <%= pet.name %>
    </section>
  <% end %>
  <%= link_to "Remove All Favorites", "/favorites", method: :delete %>
</section>
