<section class = "wrapper">

  <% @pets.each do |pet| %>
    <section id = "favorite-<%= pet.id %>">
      <%= image_tag pet.image %>
      <%= pet.name %>
      <%= button_to "Remove #{pet.name} from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
  <% end %>

</section>
