<h1>Applications</h1>
<section class = "wrapper">
  <% @applications.each do |application| %>
    <section id="application-<%= application.id %>">
      <p><%= link_to application.name, "/applications/#{application.id}" %></p>
    </section>
  <% end %>
</section>