<section class = "wrapper">
  <h1><%= @pet.name %></h1>
  <%= render partial: 'form', locals: { path: "/pets/#{@pet.id}",
                                        method: :patch,
                                        button_text: 'Update'} %>

</section>
