<h1><%= link_to @pet.name, "/pets/#{@pet.id}" %></h1>
<section class = "wrapper">
  <%= render partial: 'form', locals: {
    path: "/pets/#{@pet.id}",
    method: :patch,
    button_text: 'Update'} %>
</section>
