<section class = "wrapper">
  <%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}/pets",
                                        method: :post,
                                        button_text: 'Submit'} %>

</section>
